Repository Saul-Mirone/prosemirror-adapter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: 🎸 add core node view
  .eslintrc.js
  .vscode/settings.json
  package.json
  packages/core/package.json
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/src/ReactNodeView.ts
  packages/react/src/index.ts
  packages/react/tsconfig.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  tsconfig.json
Due: eslint --fix, prettier --write

feat: 🎸 optimize some logic
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
Due: eslint --fix

feat: 🎸 add react node view and add renovate
  .github/renovate.json
  packages/core/package.json
  packages/core/src/CoreNodeView.ts
  packages/core/vite.config.ts
  packages/react/package.json
  packages/react/src/NodeViewContext.ts
  packages/react/src/ReactNodeView.ts
  packages/react/src/ReactNodeView.tsx
  packages/react/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add example for react
  examples/react/Editor.css
  examples/react/Editor.tsx
  examples/react/index.html
  examples/react/main.tsx
  examples/react/package.json
  examples/react/prosemirror.ts
  examples/react/tsconfig.json
  examples/react/vite.config.ts
  packages/core/src/CoreNodeView.ts
  packages/react/src/NodeViewContent.tsx
  packages/react/src/NodeViewContext.ts
  packages/react/src/ReactNodeView.tsx
  packages/react/src/index.ts
  packages/react/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 remove unused import
  examples/react/Editor.tsx
Due: eslint --fix

feat: 🎸 add react paragraph example
  examples/react/Editor.tsx
  examples/react/index.html
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
  packages/react/src/NodeViewContent.tsx
  packages/react/src/index.ts
Due: eslint --fix

feat: 🎸 scaffolding for vue
  examples/react/components/Editor.css
  examples/react/components/Editor.tsx
  examples/react/components/prosemirror.ts
  examples/react/main.tsx
  examples/vue/App.vue
  examples/vue/components/Editor.vue
  examples/vue/components/prosemirror.ts
  examples/vue/index.html
  examples/vue/main.ts
  examples/vue/package.json
  examples/vue/shim.d.ts
  examples/vue/tsconfig.json
  examples/vue/vite.config.ts
  package.json
  packages/react/vite.config.ts
  packages/vue/package.json
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/index.ts
  packages/vue/tsconfig.json
  packages/vue/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 add vue renderer
  examples/react/components/Editor.tsx
  examples/react/components/Paragraph.tsx
  examples/vue/App.vue
  examples/vue/components/Editor.css
  examples/vue/components/Editor.tsx
  examples/vue/components/Paragraph.vue
  examples/vue/package.json
  examples/vue/vite.config.ts
  packages/vue/src/VueNodeView.tsx
  packages/vue/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 optimize getInstance of vue
  examples/react/components/Paragraph.tsx
  examples/vue/components/Editor.tsx
  examples/vue/components/Paragraph.vue
Due: eslint --fix

refactor: 💡 add node view context for vue
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

refactor: 💡 optimize type declaration of core node view
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
  packages/core/vite.config.ts
  packages/react/src/ReactNodeView.tsx
  packages/react/src/ReactNodeViewOptions.ts
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/VueNodeViewOptions.ts
  packages/vue/src/index.ts
  vite.config.ts
Due: eslint --fix

feat: 🎸 upgrade code in example
  examples/react/components/Editor.tsx
  examples/vue/components/Editor.tsx
Due: eslint --fix

feat: 🎸 expose should ignore mutation
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
Due: eslint --fix

feat: 🎸 remove this in methods
  examples/react/components/Editor.tsx
  examples/vue/components/Editor.tsx
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
  packages/react/src/ReactNodeView.tsx
  packages/react/src/ReactNodeViewOptions.ts
  packages/react/src/index.ts
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/VueNodeViewOptions.ts
Due: eslint --fix

feat: 🎸 optimize bundle size
  examples/react/components/Editor.tsx
  packages/react/package.json
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/index.ts
  packages/react/tsconfig.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 add update for ndoe view
  examples/react/components/Editor.tsx
  examples/react/components/Heading.tsx
  examples/react/components/prosemirror.ts
  examples/vue/components/Editor.tsx
  package.json
  packages/core/src/CoreNodeView.ts
  packages/react/src/NodeViewContext.ts
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNodeView.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: 🎸 add provider in vue
  examples/vue/components/Editor.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/index.ts
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

feat: 🎸 add provider for vue
  examples/vue/App.vue
  examples/vue/components/Editor.css
  examples/vue/components/Editor.tsx
  examples/vue/components/Editor.vue
  examples/vue/components/Heading.vue
  examples/vue/components/prosemirror.ts
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

fix: 🐛 large bundles
  packages/react/src/NodeViewContext.ts
  packages/react/src/ReactNodeView.tsx
  tsconfig.base.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 optimize build script and add shared in examples
  examples/react/components/Editor.tsx
  examples/react/main.tsx
  examples/react/package.json
  examples/shared/package.json
  examples/shared/src/index.ts
  examples/shared/tsconfig.json
  examples/shared/vite.config.ts
  examples/vue/App.vue
  examples/vue/components/Editor.vue
  examples/vue/components/prosemirror.ts
  examples/vue/package.json
  packages/react/vite.config.ts
  packages/vue/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint --fix, prettier --write

feat: 🎸 add build script
  package.json
Due: prettier --write

feat: 🎸 add selected in context
  examples/react/components/Paragraph.tsx
  examples/vue/components/Heading.vue
  examples/vue/components/Paragraph.vue
  packages/core/src/CoreNodeView.ts
  packages/react/src/NodeViewContext.ts
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

feat: 🎸 optimize update logci
  packages/core/src/CoreNodeView.ts
  packages/core/src/CoreNodeViewOptions.ts
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

feat: 🎸 complete the node view context
  packages/react/src/NodeViewContext.ts
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

feat: 🎸 add set attrs API
  examples/vue/components/Heading.vue
  packages/core/src/CoreNodeView.ts
  packages/react/src/NodeViewContext.ts
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix

docs: ✏️ add readme
  .vscode/tasks.json
  CONTIBUTING.md
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

docs: ✏️ add readme for react
  packages/react/README.md
Due: prettier --write

docs: ✏️ optimize doc for react
  examples/react/components/Heading.tsx
  examples/react/components/Paragraph.tsx
  examples/vue/components/Heading.vue
  examples/vue/components/Paragraph.vue
  packages/react/README.md
  packages/react/src/NodeViewContext.ts
  packages/vue/src/nodeViewContext.ts
Due: eslint --fix, prettier --write

docs: ✏️ update react doc
  packages/react/README.md
Due: prettier --write

docs: ✏️ add doc for vue
  examples/vue/components/Editor.vue
  packages/vue/README.md
Due: prettier --write

docs: ✏️ add doc for examples
  CONTRIBUTING.md
  examples/react/README.md
  examples/vue/README.md
  packages/core/README.md
Due: prettier --write

docs: ✏️ upgrade contri doc
  CONTRIBUTING.md
Due: prettier --write

docs: ✏️ fix typo
  CONTRIBUTING.md
  README.md
  examples/react/README.md
  examples/vue/README.md
  packages/core/README.md
  packages/react/README.md
  packages/vue/README.md
Due: prettier --write

feat: 🎸 add changeset
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: 🎡 fix ci
  .github/workflows/ci.yml
Due: none

ci: 🎡 migrate to github env file
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix github action
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix ci build command
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts,tsx}
  prettier --write: (any of: **/*.json) or (any of: **/*.md)
