Repository Saul-Mirone/prosemirror-adapter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{js,ts,tsx}": ["eslint --fix"],
    "**/*.json": ["prettier --write"],
    "**/*.md": ["prettier --write"]
}

chore: 🤖 workaround to rename letter case
  packages/react/src/odeViewContext.ts
Due: eslint --fix

chore: 🤖 workaround to fix letter case
  packages/react/src/nodeViewContext.ts
Due: eslint --fix

Update README.md
  README.md
Due: prettier --write

docs: ✏️ add logo
  README.md
  assets/logo.svg
Due: prettier --write

docs: ✏️ add some svg
  assets/react.svg
  assets/vue.svg
Due: none

Update README.md
  packages/vue/README.md
Due: prettier --write

docs: ✏️ update logo
  assets/logo.svg
Due: none

feat: 🎸 setup e2e test project
  e2e/package.json
  e2e/src/index.html
  e2e/src/react/App.tsx
  e2e/src/react/components/Editor.css
  e2e/src/react/components/Editor.tsx
  e2e/src/react/components/Heading.tsx
  e2e/src/react/components/Paragraph.tsx
  e2e/src/react/index.html
  e2e/src/react/index.tsx
  e2e/src/react/tsconfig.json
  e2e/src/vue/App.vue
  e2e/src/vue/components/Editor.vue
  e2e/src/vue/components/Heading.vue
  e2e/src/vue/components/Paragraph.vue
  e2e/src/vue/index.html
  e2e/src/vue/index.ts
  e2e/src/vue/shim.d.ts
  e2e/src/vue/tsconfig.json
  e2e/tsconfig.json
  e2e/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: 🤖 remove shared in examples
  e2e/package.json
  e2e/src/createEditorView.ts
  e2e/src/react/components/Editor.tsx
  e2e/src/vue/components/Editor.vue
  e2e/vite.config.ts
  examples/react/components/Editor.tsx
  examples/react/createEditorView.ts
  examples/react/package.json
  examples/shared/package.json
  examples/shared/tsconfig.json
  examples/shared/vite.config.ts
  examples/vue/components/Editor.vue
  examples/vue/createEditorView.ts
  examples/vue/package.json
  examples/vue/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: 🐛 tsconfig dependencies
  e2e/src/createEditorView.ts
  examples/react/createEditorView.ts
  examples/react/package.json
  examples/react/tsconfig.json
  examples/vue/createEditorView.ts
  examples/vue/package.json
  examples/vue/tsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: eslint --fix, prettier --write

Update README.md
  examples/react/README.md
Due: prettier --write

Update README.md
  examples/vue/README.md
Due: prettier --write

Update README.md
  packages/react/README.md
Due: prettier --write

test: 💍 add e2e test
  e2e/cypress.config.ts
  e2e/cypress/e2e/react/node-view.cy.ts
  e2e/cypress/e2e/vue/node-view.cy.ts
  e2e/cypress/plugins/index.js
  e2e/package.json
Due: eslint --fix, prettier --write

chore: 🤖 fix deps
  .github/workflows/ci.yml
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 🤖 add commit lint
  commitlint.config.js
  package.json
Due: eslint --fix, prettier --write

chore: 🤖 remove unneed eslint config
  .eslintrc.js
  packages/react/src/Provider.tsx
Due: eslint --fix

chore: 🤖 remove unneeded package
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: 🎡 add e2e for ci
  .github/workflows/ci.yml
Due: none

chore: 🤖 try to downgrade cypress action to fix
  .github/workflows/ci.yml
Due: none

chore: 🤖 fix all e2e
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix
  .github/workflows/ci.yml
Due: none

chore: 🤖 use working directory in ci
  .github/workflows/ci.yml
Due: none

ci: 🎡 add host in command
  .github/workflows/ci.yml
  e2e/package.json
Due: prettier --write

ci: 🎡 remove working dir
  .github/workflows/ci.yml
Due: none

ci: 🎡 fix e2e
  .github/workflows/ci.yml
  e2e/package.json
Due: prettier --write

chore: 🤖 add host
  .github/workflows/ci.yml
Due: none

ci: 🎡 optimize e2e commands
  .github/workflows/ci.yml
Due: none

ci: 🎡 setup for firefox
  .github/workflows/ci.yml
Due: none

chore: 🤖 fix eslint style
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

ci: 🎡 add eslint
  .github/workflows/ci.yml
  package.json
Due: prettier --write

refactor: 💡 remove unneed factory
  packages/core/src/CoreNodeView.ts
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
Due: eslint --fix

feat: 🎸 add plugin view
  CONTRIBUTING.md
  e2e/src/createEditorView.ts
  e2e/src/react/App.tsx
  e2e/src/react/components/Editor.css
  e2e/src/react/components/Editor.tsx
  e2e/src/react/components/Tooltip.tsx
  e2e/src/vue/components/Editor.vue
  e2e/src/vue/components/Tooltip.vue
  e2e/src/vue/tsconfig.json
  package.json
  packages/core/src/CoreNodeView.ts
  packages/core/src/CorePluginView.ts
  packages/core/src/CorePluginViewOptions.ts
  packages/core/src/index.ts
  packages/react/src/Provider.tsx
  packages/react/src/ReactNodeView.tsx
  packages/react/src/ReactPluginView.tsx
  packages/react/src/ReactPluginViewOptions.ts
  packages/react/src/ReactRenderer.ts
  packages/react/src/index.ts
  packages/react/src/nodeViewContext.ts
  packages/react/src/pluginViewContext.ts
  packages/vue/src/Provider.tsx
  packages/vue/src/VueNodeView.tsx
  packages/vue/src/VuePluginView.tsx
  packages/vue/src/VuePluginViewOptions.ts
  packages/vue/src/VueRenderer.ts
  packages/vue/src/index.ts
  packages/vue/src/nodeViewContext.ts
  packages/vue/src/pluginViewContext.ts
Due: eslint --fix, prettier --write

chore: 🤖 improve eslint config
  .eslintignore
  .eslintrc.js
  e2e/src/vue/App.vue
  e2e/src/vue/components/Editor.vue
  e2e/src/vue/components/Heading.vue
  e2e/src/vue/components/Paragraph.vue
  e2e/src/vue/components/Tooltip.vue
  examples/vue/App.vue
  examples/vue/components/Editor.vue
  examples/vue/components/Heading.vue
  examples/vue/components/Paragraph.vue
  package.json
  packages/react/README.md
  packages/vue/README.md
  packages/vue/src/Provider.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: 🤖 fix tsconfig
  examples/react/tsconfig.json
  examples/vue/tsconfig.json
Due: prettier --write
